/* general settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
    /* font-size: 30px; */
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

p {
    line-height: 180%;
    font-size: 20px;
}
/* craft a center class, to center the text */
.center  {
    width: 70%;
    margin: 0 auto;
}

button {
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
}

.black {
    background-color: #23272a;
    color: antiquewhite;
}

/* header settings */
nav {
    background-color: #255ee9;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.link {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

/* jumbotrone */
#jumbotrone {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-section {
    width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* main */
.text-section {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.text {
    text-align: left;
    padding: 20px;
}


/* background section */
.odd {
    background-color: #f6f6f6;
}

/* footer */
footer {

    background-color: #07070bdb;
    padding-top: 50px;
    color: aliceblue;
}

.links-footer {
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #4352d6;
}

ul {
    list-style: none;
    font-size: 20px;
    line-height: 150%;
}

.title-list {
    color: #4352d6;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-buttom {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(125, 120, 179);
}
/* DEBUG */

/* header */
/* header {
    min-height: 100px;
}

.logo {
    height: 50px;
    border: 4px solid blue;
}

.link {
    height: 50px;
    border: 4px solid blue;
}

.button {
    height: 50px;
    border: 4px solid blue;
}

.download-section {
    border: 2px solid orangered;
} */

/* main */
/* h1 {
    border: 1px solid aqua;
} */

h2 {
    border: 2px solid red;
}

/* p {
    border: 1px solid aqua;  
} */

.text-section {
    border: yellow 4px dotted;
}

.square {
    width: 30%;
    height: 400px;
    border: 2px dotted blue;
}

.last {
    width: 60%;
    height: 400px;
    border: 2px solid orangered;
}
/* footer */
footer {
    min-height: 300px;
}

.links-footer {
    border: 1px solid cornsilk;
}

ul {
    border: 2px dotted black;
}
.footers-footer {
    border: 1px solid cornsilk;
}